.btn-container {
    font-size: 0;
  
  }
  .priority-label {
    font-family: cursive;
    font-style: italic;
    
  }
  .todo {
    width:250px;
    height: 20px;
  }
 
  #lowPriorityTask {
    appearance: none;
    padding: 10px;
    background-color: rgba(252, 154, 211);
    border-radius:50%;
    filter: blur(2px);
 }

 #highPriorityTask {
  appearance: none;
  padding: 10px;
  background-color: rgb(252, 99, 188);
  border-radius:50%;
  filter: blur(2px);
}
#veryHighPriorityTask {
  appearance: none;
  padding: 10px;
  background-color: rgb(249, 9, 149);
  border-radius:50%;
  filter: blur(2px);
}
#lowPriorityTask:checked,
#highPriorityTask:checked,
#veryHighPriorityTask:checked {
  background-color: white;
}

  
  .btn {
    border: none;
    background-color: rgb(80, 210, 253);
    color: white;
    display: inline;
    padding: 10px;
    border-radius: 10px;
  }
  
  .clearAll {
    background-color: rgb(80, 210, 253);
    color: white;
    margin-right: 0;
    display: inline;
    padding: 10px;
    border-radius: 10px 0 0 10px;
  }
  
  .clearOne {
    background-color: #4e57ff;
    color: white;
    margin-left: 0;
    display: inline;
    padding: 10px;
    border-radius: 0 10px 10px 0;
  }
  h1{font-family:cursive;
    color: #4e57ff;
    font-style: italic;
  }
  
body {
  background-color: #eeeef6;
  background-image: radial-gradient(#aaaef5 0.8500000000000001px, #e5e5f7 0.8500000000000001px);
  background-size: 27px 27px;
}

.checkbox {
    
     display: inline-block;
     position: relative;
     background-color: #fff;
     color:  rgb(249, 9, 149);
     height: 20px;
     width: 20px;
     margin-right: 7px;
     outline: none;
     border: 1px solid #dfdbd8;
}

.checkbox.checked::before {
  position: absolute;
  font-size: 16px;
  left: 5px;
  font-weight: 700;
  content: '\02143';
  transform: rotate(40deg);
}




.custom-btn {
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-5 {
  width: 100px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #4e57ff;
background: linear-gradient(0deg,#4e57ff 0%, #4e57ff 100%);
}
.btn-5:hover {
  color: #020a96;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background:#020a96;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

.custom-btn2 {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-7 {
background: linear-gradient(0deg,#4e57ff 0%, #4e57ff 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background:#020a96;
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7:before{
   height: 0%;
   width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover{
  color: #020a96;
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251,75,2,1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

